.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.theme-default-content:not(.custom), .page-meta, .page-nav {
  max-width: unset !important;
  padding-left: 3rem !important;
  padding-right: 12.5rem !important;
}

@media only screen and (max-width: 992px) {
  .theme-default-content:not(.custom), .page-meta, .page-nav {
    padding: 0 1.5rem 4rem !important;
  }
}

.hero img {
  width: 200px;
  //height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}
